# Python-specific
*.pyc
*.pyo
__pycache__/
.pytest_cache/
backend/infrastructure/config.py
**/config.py

# Flask-specific
.flaskenv
.pytest_cache/

# React-specific
/node_modules/
npm-debug.log
yarn-error.log
.eslintcache
.nyc_output/

# Editor-specific
.vscode/
.idea/
.DS_Store
backend/data_articles_index.index
backend/data_articles_index.json
backend/data_statements_index.index
backend/data_statements_index.json
backend/output.txt
